eagle-spring/src/main/resources/META-INF/eagle.xsd

<xsd:schema xmlns="http://www.zhaoljhpeng.cn/schema/eagle"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.zhaoljhpeng.cn/schema/eagle"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>


    <xsd:element name="application">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="port" type="xsd:int" use="required"/>
                    <xsd:attribute name="protocol" type="xsd:string" use="required"/>
                    <xsd:attribute name="threads" type="xsd:int" default="100"/>
                    <xsd:attribute name="accepts" type="xsd:int" default="0"/>
                    <xsd:attribute name="registerUrl" type="xsd:string" use="required"/>
                    <xsd:attribute name="applicationName" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>

    </xsd:element>

    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interfaceName" type="xsd:string" use="required"/>
                    <xsd:attribute name="ref" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="interface" type="xsd:string"
                                   use="required" />
                    <xsd:attribute name="serialize" type="xsd:string"
                                   default="hessian" />
                    <xsd:attribute name="protocol" type="xsd:string"
                                   default="default" />
                    <xsd:attribute name="callType" type="xsd:string"
                                   default="sync" />
                    <xsd:attribute name="timeout" type="xsd:string" default="5000" />

                    <xsd:attribute name="retries" type="xsd:string" default="3" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="annotationType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="package" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The scan package. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="annotation" type="annotationType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The annotation config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:schema>